
const float TO_VALUE = ${time_limit};

module ReliabilityTimer
  ReliabilityTO: [0..2] init 0;
  clkTO: clock;
  [TOinit!!] ReliabilityTO == 0 -> (ReliabilityTO'=1) & (clkTO'=dirac(TO_VALUE));
  [] ReliabilityTO==1 @ clkTO -> (ReliabilityTO'=2);
endmodule

