//Type: spare gate; Original name: ${name}; Assigned unique id: ${id}
module SPAREGATE_${id}
  state_${id}: [0..4] init 0; // on main, request, wait, on spare, broken
  inform_${id}: [0..2] init 0;
  release_${id}: [0..${muxIdList.size()}] init 0;
  idx_${id}: [1..${muxIdList.size()}] init 1;

  [f_${primaryId}??] state_${id}==0 -> (state_${id}'=1) & (idx_${id}'=1); // main fails
  [u_${primaryId}??] state_${id}==4 -> (inform_${id}'=2) & (state_${id}'=0); // main gets repaired
  [u_${primaryId}??] state_${id}==3 -> (release_${id}'=idx_${id}) & (state_${id}'=0);


#foreach( $idBasicEvent in $basicEventIdList )
  [f_${idBasicEvent}??] state_${id}==3 & idx_${id}==${velocityCount} -> (state_${id}'=1) & (idx_${id}'=1); // $Number ${velocityCount} spare fails
#end

#foreach( $idMux in $muxIdList )
  [rq_${idMux}_${id}!!] state_${id}==1 & idx_${id}==${velocityCount} -> (state_${id}'=2); // request spare number ${velocityCount}
#end

#foreach( $idMux in $muxIdList )
  [asg_${idMux}_${id}??] state_${id}==0 | state_${id}==1 | state_${id}==3 -> (release_${id}'=${velocityCount}); // we are assigned spare ${velocityCount} but we dont want it
  [asg_${idMux}_${id}??] state_${id}==2 & idx_${id}==${velocityCount} -> (state_${id}'=3); // we are assigned spare ${velocityCount}
  [asg_${idMux}_${id}??] state_${id}==4 -> (state_${id}'=3) & (idx_${id}'=${velocityCount}) & (inform_${id}'=2); // we 'get fixed' by a spare assignment
#end
  
#foreach( $idMux in $muxIdList )
#set( $increasedVelocityCount = $velocityCount + 1 )
#if ($velocityCount < ${muxIdList.size()})
  [rj_${idMux}_${id}??] state_${id}==2 & idx_${id}==${velocityCount} -> (idx_${id}'=${increasedVelocityCount}) & (state_${id}'=1); // they reject giving us spare ${velocityCount}
#else
  [rj_${idMux}_${id}??] state_${id}==2 & idx_${id}==${velocityCount} -> (state_${id}'=4) & (idx_${id}'=1) & (inform_${id}'=1);
#end 
#end
  
#foreach( $idMux in $muxIdList )
  [rel_${idMux}_${id}!!] release_${id}==${velocityCount} -> (release_${id}'= 0); // release spare ${velocityCount}
#end

  [f_${id}!!] inform_${id} == 1 -> (inform_${id}'=0);
  [u_${id}!!] inform_${id} == 2 -> (inform_${id}'=0);
endmodule

